<% xml = File.read('db/mta_feed/20160923145630.txt')%>
<% hash = Hash.from_xml(xml) %>
<h2>Updated at: <%= hash['service']['timestamp'] %></h2>
<p>===========================================================================================================</p>
<% hash['service']['subway']['line'].each do |info| %>
  <h1><%=info['name']%></h1>
  <% if info['status'] == "GOOD SERVICE" %>
    <h2><%= info['status'] %></h2>
  <% elsif info['status'] == "DELAYS" %>
    <h2><%= info['status'] %></h2>
    <p><%= raw info ['text'] %></p>
  <% elsif info['status'] == "PLANNED WORK" %>
    <h2><%= info['status'] %></h2>
    <p><%= raw info ['text'] %></p>
  <% else %>
    <h2><%= info['status'] %></h2>
    <p><%= raw info ['text'] %></p>
  <% end %>
<% end %>
  <p>===========================================================================================================</p>
<% hash['service']['subway']['line'].each do |info| %>
  <h1>Line(s): <%=info['name']%></h1>
  <% if info['status'] == "GOOD SERVICE" %>
    <%= info['status'] %>
  <% else %>
  	<% if info['text'].include?('There is no') %>
  	  <p> Some trains not running on these lines </p>
    <% elsif info['text'].include?('delays') %>
      <p> Some trains are delayed on these lines</p>
    <% else %>
      <p> Some service problems, worth checking into further </p>
    <% end %>
  <% end %>
<% end %>
